<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="icon" href="https://v2.fr.vuejs.org/images/logo.svg">


    <title>Color Picker</title>
  
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/yeti/bootstrap.min.css" integrity="sha512-iHA7zcOiFZ4ajvU4RMt3fDIRWPmkLawqZqG1xguHmFxbH4PQQk7t/I8NYL03eI9rrU2fi6l/Pi+/wuspMeX8CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-coy.min.css" integrity="sha512-XcB0I04SuOVkb6ewfVz0qMhU5QADIiFBFxPRRNWZUANF1W5onx8GlbHYYIivw3gXrTuZfu+1gAG8HvvKQG3oGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-scss.min.js"></script>
    
</head>
<body>






    <div id="app" class="container mt-5">



        <!-- Modal -->
        <div class="modal fade" id="scssModal" tabindex="-1" aria-labelledby="scssModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="scssModalLabel">Generated SCSS Code</h5>
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <pre class="mt-3 language-scss" id="scssCode" style="max-height: 100% !important"><code class="language-scss">{{ scssCode }}</code></pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="copyButton">Copy to Clipboard</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        <h1 class="mb-3">Logo</h1>
        
        <input type="file" class="form-control visually-hidden" id="LogoFile" accept="image/*" @change="importSvgLogo">
        <button class="btn btn-primary mt-3" type="button" onclick="document.getElementById('LogoFile').click()">Choose SVG Files</button>

        <div class="mt-3">
            <div class="row justify-content-center" id="imagePreviews"></div>
        </div>





        <div class="container my-5 mx-0 px-0">
            <h1 class="mb-3">Gradient Color Picker</h1>

            <div id="colorCards" class="color-row row mx-1 my-2"></div>


            <form id="colorForm" onsubmit="event.preventDefault(); generateColors();">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="numVariants" class="form-label">Number of Variants</label>
                            <input type="number" class="form-control" id="numVariants" placeholder="e.g. 7">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="startColor" class="form-label">Start Color (Hex)</label>
                            <input type="color" class="form-control p-0 m-0 w-100" style="height: 38px; border: 0px" id="startColor" placeholder="e.g. #A7C511">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="endColor" class="form-label">End Color (Hex)</label>
                            <input type="color" class="form-control p-0 m-0 w-100"style="height: 38px; border: 0px" id="endColor" placeholder="e.g. #21224B">
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" onclick="generateColors()">Generate Gradient Colors</button>
            </form>

        </div>







        <h1 class="mb-3">Color Picker</h1>
        <div class="row">
            <div class="col-md-2 my-3" v-for="(color, key) in colors" :key="key">
                <div class="card">
                    <input type="color" class="card-header border-0 form-control w-100 p-0 m-0" :id="key" :name="key" v-model="colors[key]">
                    <label :for="key" class="form-label text-center d-flex align-items-center justify-content-center fs-4">{{ key.replace(/_/g, ' ') }}</label>
                </div>
            </div>
        </div>

         

        <button class="btn btn-success mt-3" @click="saveToLocalStorage">Save Config to Local Storage</button>
        <button class="btn btn-info mt-3" @click="downloadJsonConfig">Download Config</button>
        <input type="file" class="form-control visually-hidden" id="configFile" accept="*.json" multiple @change="importJsonConfig"> 
        <button class="btn btn-dark mt-3" type="button" onclick="document.getElementById('configFile').click()"> Import Config </button>


        <div class="w-100 d-flex justify-content-center my-5">
            <button class="btn btn-primary fw-bold mt-3" type="button" @click="generateSCSS" :disabled="isLoading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="isLoading"></span>
                <span v-if="isLoading" class="ms-2">Loading...</span>
                <span v-else>Generate SCSS</span>
            </button>
        </div>



    </div>








    <!-- External / CDN JS -->

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.prod.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>




    <script src="js/colorFilter.js"></script>
    <script src="js/colorGradient.js"></script>

    <script src="vue/app.vue"></script>
   


    <script>

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('copyButton').addEventListener('click', function() {
                const scssCodeElement = document.getElementById('scssCode').querySelector('code');
                const range = document.createRange();
                range.selectNode(scssCodeElement);
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);

                try {
                    const successful = document.execCommand('copy');
                    if (successful) {
                        alert('SCSS code copied to clipboard!');
                    } else {
                        alert('Failed to copy SCSS code.');
                    }
                } catch (err) {
                    alert('Failed to copy SCSS code.');
                }

                window.getSelection().removeAllRanges();
            });

            // Ensure the code inside the modal is highlighted
            document.getElementById('scssModal').addEventListener('shown.bs.modal', function () {
                Prism.highlightAll();
            });
        });


    </script>






</body>
</html>
